{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Analisis Sentimen</title>
    <link rel="stylesheet" href="{% static 'css/style.min.css' %}">
    <!-- component -->
    <link rel="stylesheet" href="{% static 'css/components.css' %}">

</head>
<body>

    {% block content %}
    {% endblock %}

<script src="https://cdn.jsdelivr.net/gh/alpine-collective/alpine-magic-helpers@0.6.x/dist/component.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.8.0/dist/alpine.min.js" defer></script>
<script src="{% static 'js/script.js' %}"></script>
</body>
</html>